.info_table {
    flex-grow: 1;
    height: 100%;
    box-sizing: border-box;
}
.cdk_virtual_scroll_viewport {
    display: block;
    position: relative;
    overflow: auto;
    contain: strict;
    transform: translateZ(0);
    will-change: scroll-position;
}

.cdk_virtual_scroll_content_wrapper {
    transform: translateY(0px);

    min-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    contain: content;
}
.odd li:nth-child(odd) {
    @apply bg-main;
}
.parent {
    display: flex;
    height: 100%;
    z-index: 1;
    flex-direction: column;
    flex: 1;
    overflow-x: auto;
    overflow-y: hidden;
    border-radius: 8px;
    box-sizing: border-box;
    @apply p-0;
}

.grid_custom_cols_9 {
    grid-template-columns: 80px repeat(8, minmax(0, 1fr));
    /* @apply grid items-center; */
}
.btn:disabled {
    @apply opacity-50 bg-main;
}

.btn[disabled],
.btn[disabled]:hover {
    color: #aaa;
    cursor: not-allowed;
    @apply bg-c-secondary-800;
}
